<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement" search:require="solr">
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <!-- master -->
          <index id="sitecore_master_blog_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">sitecore_master_blog_index</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <indexAllFields>false</indexAllFields>

                <include hint="list:AddIncludedTemplate">
                  <EntryPage>{153D389F-B845-4463-BB03-45E52D2B2D1B}</EntryPage>
                </include>

                <include hint="list:AddIncludedField">
                  <Title>{67568061-C169-4AC1-A79B-815931B8B788}</Title>
                  <Introduction>{C3CDEBA3-D7CC-4344-BD78-64D27ABDAFCF}</Introduction>
                  <Body>{C803748B-8CDC-49AC-B90B-EC8ADD103CA2}</Body>
                  <DateTime>{F30D1551-0A54-4201-BB0D-BC7D73398792}</DateTime>
                </include>

                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="tags"           returnType="stringCollection"   type="JssSimpleBlog.Indexing.ComputedFields.Tags, JssSimpleBlog.Indexing" />
                  <field fieldName="month"          returnType="text"               type="JssSimpleBlog.Indexing.ComputedFields.Month, JssSimpleBlog.Indexing" />
                  <field fieldName="year"           returnType="text"               type="JssSimpleBlog.Indexing.ComputedFields.Year, JssSimpleBlog.Indexing" />
                </fields>
              </documentOptions>
            </configuration>
            
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/syncMaster" />
            </strategies>
            
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/content</Root>
              </crawler>
            </locations>
            
            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>

          <!-- web -->
          <index id="sitecore_web_blog_index" type="Sitecore.ContentSearch.SolrProvider.SolrSearchIndex, Sitecore.ContentSearch.SolrProvider">
            <param desc="name">$(id)</param>
            <param desc="core">sitecore_web_blog_index</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
                <indexAllFields>false</indexAllFields>

                <include hint="list:AddIncludedTemplate">
                  <EntryPage>{153D389F-B845-4463-BB03-45E52D2B2D1B}</EntryPage>
                </include>

                <include hint="list:AddIncludedField">
                  <Title>{67568061-C169-4AC1-A79B-815931B8B788}</Title>
                  <Introduction>{C3CDEBA3-D7CC-4344-BD78-64D27ABDAFCF}</Introduction>
                  <Body>{C803748B-8CDC-49AC-B90B-EC8ADD103CA2}</Body>
                  <DateTime>{F30D1551-0A54-4201-BB0D-BC7D73398792}</DateTime>
                </include>

                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="tags"           returnType="stringCollection"   type="JssSimpleBlog.Indexing.ComputedFields.Tags, JssSimpleBlog.Indexing" />
                  <field fieldName="month"          returnType="text"               type="JssSimpleBlog.Indexing.ComputedFields.Month, JssSimpleBlog.Indexing" />
                  <field fieldName="year"           returnType="text"               type="JssSimpleBlog.Indexing.ComputedFields.Year, JssSimpleBlog.Indexing" />
                </fields>
              </documentOptions>
            </configuration>

            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsyncSingleInstance" />
            </strategies>

            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content</Root>
              </crawler>
            </locations>

            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>